@import url("./styles/base/colors.css");
@import url("./styles/base/fonts.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: var(--primary-font);
  text-rendering: geometricPrecision;
  background-color: var(--navy);
}
