:root {
  --navy: #0a192f;
  --navy-dark: #071120;

  /* Test Colors */
  --primary-color-cadet: #2e294e;

  /* Test Colors */
  --blush-pink: #e8c7c8;

  --mustard-yellow: #e1ad01;

  --white: #000000;

  --rust-orange: #cc5500;

  --aubergine: #693b58;
}
